
{% load i18n %}
{% load currency %}
{% load static %}

<div class="site-section" id="Adikra-section">
    <div class="container">
        <div class="site-section bg-light mx-auto" id="contact-section">
            <div class="container-fluid mx-auto">
            <div class="row mb-5">
                <div class="col-12 text-center">
                <h3 class="section-sub-title">Contact Form</h3>
                <h2 class="section-title mb-3">Get In Touch</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12  mb-5">
                <form action="#" class="p-5 bg-white">

                    <h2 class="h4 text-black mb-5">Contact Form</h2>

                    <div class="row form-group">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <label class="text-black" for="fname">Full Name</label>
                        <input type="text" id="fname" class="form-control rounded-0">
                    </div>
                    
                    </div>

                    <div class="row form-group">

                    <div class="col-md-12">
                        <label class="text-black" for="email">Email</label>
                        <input type="email" id="email" class="form-control rounded-0">
                    </div>
                    </div>

                    <div class="row form-group">

                    
                    </div>

                    <div class="row form-group">
                    <div class="col-md-12">
                        <label class="text-black" for="message">Message</label>
                        <textarea name="message" id="message" cols="30" rows="7" class="form-control rounded-0"
                        placeholder="Write your notes or questions here..."></textarea>
                    </div>
                    </div>

                    <div class="row form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Send Message" class="btn btn-black rounded-0 py-3 px-4">
                    </div>
                    </div>


                </form>
                </div>
            </div>

            </div>
        </div>
        End of Get in Touch with Us
    </div>
</div>


