{% load static %}
<footer class="site-footer bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-5">
              <h2 class="footer-heading mb-4">About Us</h2>
              <p>Daclyns Design is a group of professional fashion designers who specialized in blending Africa
                fabrics on T-shirts, Lacoste, hoodies and many more to come up with creative and innovative
                designs that portrays the heritage of Africa through arts.

                We also leverage on our international and local partners by providing digital marketing platform
                for other local producers of Africa craft, in the field of Painting, Bead making, Weaving,
                Pottery, Africa clothes and many more</p>
            </div>
            <div class="col-md-3 ">
              <h2 class="footer-heading mb-4">Quick Links</h2>
              <ul class="list-unstyled">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <h2 class="footer-heading mb-4">Follow Us</h2>
              <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
              <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-3 ml-auto">
          <h2 class="footer-heading mb-4">Featured Product</h2>
          <a href="#"><img src="images/T-shirts/Facial/cap lady2.png" alt="Image" class="img-fluid mb-3"></a>
          <h4 class="h5">Leather Brown Shoe</h4>
          <strong class="text-black mb-3 d-inline-block">GH60.00</strong>
          <p><a href="#" class="btn btn-black rounded-0">Add to Cart</a></p>
        </div> -->
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <div class="border-top pt-5">
            <p>
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved |  by <a href="">Daclyns Design</a>
            </p>
          </div>
        </div>

      </div>
    </div>
  </footer>
  <script src="{% static ''%} js/jquery-3.3.1.min.js"></script>
<script src="{% static '' %}js/jquery-2.2.4.min.js"></script>
  <script src="{% static '' %}js/jquery-migrate-3.0.1.min.js"></script>
  <script src="{% static '' %}js/jquery-ui.js"></script>
  <script src="{% static '' %}js/popper.min.js"></script>
  <script src="{% static '' %}js/jquery.easing.1.3.js"></script>
 
  <script src="{% static '' %}js/owl.carousel.min.js"></script>
  <script src="{% static '' %}js/jquery.stellar.min.js"></script>
  <script src="{% static '' %}js/jquery.countdown.min.js"></script>
  <script src="{% static '' %}js/bootstrap-datepicker.min.js"></script>
  <script src="{% static '' %}js/jquery.easing.1.3.js"></script>
  <script src="{% static '' %}js/aos.js"></script>
  <script src="{% static '' %}js/jquery.fancybox.min.js"></script>
  <script src="{% static '' %}js/jquery.sticky.js"></script>
  
  <script src="{% static '' %}js/main.js"></script>
  <script src="{%static '' %}js/tiptoe.js"></script>


  <script src="{% static '' %}js/bootstrap.min.js"></script>
	<script src="{% static '' %}js/slick.min.js"></script>
	<script src="{% static '' %}js/nouislider.min.js"></script>
	<script src="{% static '' %}js/jquery.zoom.min.js"></script>
	<script src="{% static '' %}js/s_main.js"></script>

  <!-- Daclyns script -->

  <script src="{%static 'js/script.js'%}"></script>
