{% load static %}
{% load i18n %}
{% load currency %}
<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<div class="top-bar py-3 bg-light" id="home-section">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-6 text-left">
                <ul class="social-media">
                    <li><a href="https://www.facebook.com/daclynsdesigns" class=""><span class="icon-facebook"></span></a></li>
                    <!-- <li><a href="#" class=""><span class="icon-twitter"></span></a></li> -->
                    <li><a href="https://www.instagram.com/daclyns_design/?hl=en" class=""><span class="icon-instagram"></span></a></li>
                    <li><a href="https://www.linkedin.com/groups/8985196/" class=""><span class="icon-linkedin"></span></a></li>
                </ul>
            </div>
            <div class="col-6">
                <p class="mb-0 float-right">
                    <span class="mr-3"><a href="tel:233240816585"> <span class="icon-phone mr-2"
                                style="position: relative; top: 2px;"></span><span
                                class="d-none d-lg-inline-block text-black"></span>+233240816585</a></span>
                    <span><a href="#"><span class="icon-envelope mr-2"
                                style="position: relative; top: 2px;"></span><span
                                class="d-none d-lg-inline-block text-black"></span>daclynsdesigns@gmail.com</a></span>
                </p>

            </div>
        </div>
    </div>
</div>
<header id="bar" class="site-navbar py-4 bg-white js-sticky-header site-navbar-target " role="banner">


    <div class="navi container">
        <div class="row align-items-center">

            <div class="col-6 col-xl-2">
                <h1 class="bibi mb-0 site-logo"><a href="/" class="text-black  mb-0"><img
                            src="{% static 'images/logo.png'%}" alt=""><span class="text-primary"></span> </a></h1>
            </div>

            <div class="col-lg-8-24 col-sm-8 order-3 order-lg-2">
              
            </div>

            <div class="col-12 col-md-10 d-none d-xl-block" class="ike">
                <nav class="site-navigation position-relative text-right" role="navigation">

                    <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                        <li><a href="/" class="nav-link">Home</a></li>
                        <!--  -->
                        <!-- <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">Our Designs <span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li class="nav-item ">
                                <a class="nav-link" href="">All Products</a>
                              </li>
                              
                              <li><a href="#Adikra-section" class="nav-link">Adikra Designs</a></li>
                              <li><a href="#FacialDesigns-section" class="nav-link">Facial Designs</a></li>
                              <li><a href="#Painting-section" class="nav-link">Couples Wear</a></li>
                              <li><a href="#Fashionables-section" class="nav-link">Fashionables</a></li>

                              
                              </ul>
                        </li> -->
                        <!--  -->
                        <!-- <li><a href="#about-section" class="nav-link">Customization</a></li> -->
                        <div class="header-search">
                          <form action="/search/" method="post">
                              {% csrf_token %}
                              <input id="query" name="query" class="input search-input" type="text" placeholder="Enter your keyword">
                              <select name="catid"  class="input search-categories">
                                  <option value="0">{% trans "All Categories" %}</option>
      
                              </select>
                              <button class="search-btn"><i class="fa fa-search"></i></button>
                          </form>
                        </div>
                        <li><a href="#contact-section" class="nav-link">Contact</a></li>

                    </ul>
                </nav>
            </div>
            <div class="col-lg-4-24 col-sm-4 col-8  order-2  order-lg-3">
              <div class="d-flex justify-content-end">
                <div class="widget-header">
                {% if user.id is not None %}
                  <small class="title text-muted">Welcome {{ user.first_name }}</small>
                  <div>
                    <a href="{% url 'logout' %}">Logout</a>
                  </div>
                  {%else%}
                  <small class="title text-muted">Welcome guest!</small>
                  <div>
                    <a href="{% url 'login' %}">Sign in</a> <span class="dark-transp"> | </span>
                    <a href="{% url 'signup' %}"> Register</a>
                  </div>
                  {%endif%}
                </div>
                <a href="{% url 'shopcart'%}" class="widget-header border-left pl-3 ml-3">
                  <div class="icontext">
                    <div class="icon-wrap icon-sm round border">
                      <i class="fa fa-shopping-cart"></i>
                      
                    </div>
                  </div>
                  {% load myapptags %}
                    {% shopcartcount user.id as count %}
                  <span class="badge badge-pill badge-danger notify navcartcount">{{ count }} </span>
                </a>
              </div>
            </div>

            <!-- Begining of Banner -->
            <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a
                    href="#" class="site-menu-toggle js-menu-toggle text-black float-right"><span
                        class="icon-menu h3"></span></a>
            </div>

        </div>
    </div>

</header>
<!-- /HEADER -->