{% extends 'homebase.html' %}
{% load currency %}
{% block title %} Shop Cart {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %} {% endblock %}

{% block body %}

<div class="container " style="margin-top: 170px;">
    <div class="row">
      <main class="col-sm-9">
        {% if shopcart.exists %}
        <div class="card">
          <table class="table table-hover shopping-cart-wrap cart-table">
            <thead class="text-muted">
              <tr>
                <th scope="col">Product</th>
                <th scope="col" width="120">Quantity</th>
                <th scope="col" width="120">Price</th>
                <th scope="col" width="200" class="text-right">Action</th>
              </tr>
            </thead>
            <tbody class="cart-body">
                {% for rs in shopcart %}
              <tr class="cart-product">
                <td>
                    
                  <a href="/product/{{ rs.product.id }}/{{ rs.product.slug }}">
                    <figure class="media">
                      <div class="img-wrap">
                        {% if rs.variant.image_id  > 0 %}
                        <img width="150"
                          src="{{rs.variant.image }}"
                          class="img-thumbnail img-sm"
                        />
                        {% else %}
                        <img width="150"
                          src="{{rs.product.image.url}}"
                          class="img-thumbnail img-sm"
                        />
                        {% endif %}
                      </div>
  
                      <figcaption class="media-body">
                        <h6 class="title text-truncate">
                          <a href="/product/{{ rs.product.id }}/{{ rs.product.slug }}">
                            {{rs.product}} {{ rs.variant.size }} {{ rs.variant.color }}
                          </a>
                        </h6>
                      </figcaption>
                    </figure>
                  </a>
                </td>
                <td>
                    <div class="price-wrap">
                      <var class="price">{{rs.quantity}}</var>
                    
                    </div>
                    <!-- price-wrap .// -->
                  </td>
                <td>
                  <div class="price-wrap">
                    <var class="price"> 
                    {% if rs.product.variant == 'None' %}
                        {{ rs.product.price }} GH₵
                    {% else %}
                        {{ rs.variant.price }} GH₵
                    {% endif %}</var>
                  </div>
                  <!-- price-wrap .// -->
                </td>
                <td class="text-right">
                    <input class="cart-item-product-id" type="hidden" name="product_id" />
                    <a href="/order/deletefromcart/{{ rs.id }}" onclick="return confirm('Delete ! Are you sure?')"><button class="btn btn-md  btn-outline-danger" type="submit">
                      × Remove
                    </button></a>
                </td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
        <!-- card.// -->
        {%else%}
        <p class="lead">Cart is empty</p>
        {%endif%}  
      </main>
  
      <aside class="col-sm-3">
        <!-- <dl class="dlist-align h5">
          <dt>Sub total:</dt>
          <dd class="text-right">GHC {{ cart.subtotal }}</dd>
        </dl> -->
        <dl class="dlist-align h5">
          <dt>Total:</dt>
          <dd class="text-right">
            <strong
              >GH₵ <span class="cart-total">{{ total }} </span></strong
            >
          </dd>
        </dl>
        <div class="text-wrap small text-muted">
          Delivery fees not included yet.
        </div>
        <hr />
        <tr>
          <th colspan="2"></th>
          <td>
            <a class="btn btn-success btn-block" href="{% url 'orderproduct' %}"
              >Buy</a
            >
          </td>
        </tr>
      </aside>
    </div>
</div>

{% endblock %}